@use "../Placeholders/_Vars" as *;

@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
* i {
  font-size: 17px;
}

.top-header {
  width: calc(100% - 40px);
  background-color: $cl-pry;
  padding: 0px 20px;

  .top-header-container {
    max-width: 1140px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    gap: 20px;

    .phone-number {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      i {
        color: #fff;
      }

      p {
        font-size: 13px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      a {
        margin: 0px;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        opacity: 0.7;
        cursor: pointer;
        transition: 0.21s;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }
      select {
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

header {
  width: calc(100% - 40px);
  padding: 0px 20px;
  position: sticky;
  z-index: 3;
  background: transparent;
  background-color: $cl-sec;
  top: 0;
}

.header-container {
  max-width: 1140px;

  width: 100%;

  gap: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    h2 {
      color: #171717;
      font-weight: 600;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    img {
      object-fit: cover;
      width: 70px;
      height: 70px;
      opacity: 0.8;
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    .search-container {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0px 0px 7px 0px #dcdcdc;
      border: $cl-pry 1px solid;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 250px;

      input {
        font-size: 16px;
        outline: none;
        border: none;
        background: transparent;
        height: 100%;
        width: 100%;
      }
      i {
        color: $cl-pry;
      }
    }

    #navs i {
      color: #fff !important;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      width: 100px;
      cursor: pointer;

      i {
        background-color: transparent;
        padding: 0px !important;
        color: #000;
      }
    }

    h4 {
      font-size: 15px;
    }
    i {
      font-size: $tx-med;
      background-color: $cl-pry;
      color: #fff;
      padding: 15px 20px !important;
      border-radius: 10px;
    }
  }
}

main {
  margin-top: 2%;
  width: 100%;

  //ყეველა მაინის პროდუქტის arrow სტილიზაცია
  .arrow {
    position: absolute;
    z-index: 1 !important;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }

  .main-container {
    max-width: 1140px;
    padding: 0px 20px;
    width: calc(100% - 40px);
    margin: auto;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .image-carousel {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
  }

  .carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
  }

  .carousel-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    background-color: $cl-sec;
    padding: 7px 7px;
    border-radius: 10px;
    width: 230px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -7px #000;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding: 7px 15px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

      &:hover {
        background-color: #dcdcdc;
        border-radius: 10px;
        cursor: pointer;
      }

      &:last-child {
        border: none !important;
      }
      i {
        text-align: center;
        width: 15px;
        font-size: 13px;
        background-color: $cl-pry;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;

        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      a {
        font-weight: 600;
        font-size: 13px;
        color: rgba($color: #000000, $alpha: 0.5);
        text-decoration: none;
      }
    }
  }
}

.product-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
  overflow: hidden;

  h2 {
    font-weight: bold;
  }

  .item-carousel-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: all 0.3s;
  }
  .carousel-item {
    min-width: 190px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      transform: translateY(-10px);
      // position: relative;
      // top: -10px;
    }

    .content {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        height: 50px;
        // max-width: 95%;
        font-weight: 400;
      }

      .price-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .price {
          height: fit-content !important;
          font-weight: bold;
          color: #ec5e2a;
        }
        p {
          color: rgba($color: #000000, $alpha: 0.5);
          text-align: center;
          font-size: 13px;
          text-decoration: line-through;
        }
      }
    }
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
    height: 100px;

    img {
      width: 65%;
      height: 100%;
    }
  }
}

.categories {
  margin-top: 5%;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  background-color: rgba($color: $cl-pry, $alpha: 0.2);
  padding: 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  .arrow {
    top: 50%;
    opacity: 0.8;
    position: absolute;
  }

  .arrow.left {
    left: 0;
  }

  .arrow.right {
    right: 0;
  }

  #categories-item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    transition: all 0.3s;
  }

  .categories-items {
    min-width: 370px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    img {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      right: 0px;
      object-fit: contain;
      width: 200px;
      height: 120px;
    }

    .box {
      width: 100%;
      height: 70px;
      background-color: $cl-pry;

      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        cursor: pointer;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #000;
        margin-left: 15px;
        padding: 5px 10px;
      }
    }
    .categories-content {
      background-color: rgba($color: $cl-pry, $alpha: 0.5);
      height: 70%;
    }
  }
}

#laptops-only {
  width: 100%;
  position: relative;
  height: 300px;

  #item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: all 0.3s;
    overflow: hidden;

    .carousel-item {
      min-width: 190px;

      img {
        width: 100%;
      }
    }
  }

  .arrow {
    position: absolute;
  }
}
