/* PLACEHOLDER CARD STYLING WITH SHIMMER EFFECT */
.placeholder-item {
  min-width: 190px;
  height: 292px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  animation: shimmer 2s infinite;
}

.placeholder-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  animation: shine 2s infinite;
}

.placeholder-item .placeholder-text {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
}

.placeholder-item .text-line {
  height: 12px;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 4px;
  margin-bottom: 4px;
}

.placeholder-item .text-line:last-child {
  width: 80%;
}

.placeholder-categories {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  min-width: 370px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: shimmer 2s infinite;
  position: relative;
  overflow: hidden;
}

.placeholder-categories::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  animation: shine 2s infinite;
}

.loader {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
